<form class="form" id="login" action="/login" method="post">
  <h3>Email: </h3><input type="text" name="login[email]">  
  <h3>password: </h3><input type="text" name="login[password]">
  <input type="submit" value="login" >
</form>

<form class="form" id="signup" action="/signup" method="post" >
  <h3>Email:</h3><input type="text" name="email">
  <h3>name:</h3><input type="text" name="name">
  <h3>password:</h3><input type="text" name="password">
  <input type="submit" value="sign up" >
</form>
